<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".skel" mimeType="animation/skel" />
            <mimeMap fileExtension=".atlas" mimeType="animation/atlas" />
        </staticContent>
    </system.webServer>
</configuration>
